<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Infusionsoft Test Suite">
            <directory>tests/Infusionsoft</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Infusionsoft</directory>
        </whitelist>
    </filter>
</phpunit>
